# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
/utils/__pycache__
/notebooks/.ipynb_checkpoints
converted_body_dimensions.csv
converted_platform_os.csv
converted_platform_memory_internal.csv
converted_platform_memcard_slot.csv
converted_platform_cpu.csv
converted_platform_chipset.csv
converted_main_camera_single.csv
converted_display_type.csv
converted_display_size.csv
converted_display_resolution.csv
converted_body_weight.csv
converted_body_sim.csv
converted_body_dimensions.csv
converted_body_.csv
converted_body_dimensions.csv
